@media only screen and (max-width: 600px) {
  div.section#Members {
    height: 90vh;
  }
  .row{
    font-size:10px;
  }
}

#Members, #Members p, #Members li { 
  white-space: nowrap;
}

a.memberLink:not(:hover) {
  text-decoration: none;
  color: white;
}

a.memberLink:hover {
  color: white;
}